

nav {
  background-color: #f2f2f2;
  padding: 10px;
  ;
}

/* Navbar list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navbar list items */
li {
  display: inline-block;
  margin-right: 10px;
}

/* Navbar links */
a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

/* Navbar link - active */
a.active {
  background-color: #333;
  color: #fff;
}
